div.logo
  img(src='/img/stratio.png')
  p PING PONG SERIES
ul.nav
  li
    a(href='/')
      img(src='/img/home.png')
      span HOME
  li
    a(href='/stats')
      img(src='/img/statistics1.png')
      span STATS
  li
    a(href='/results?from=0&size=20')
      img(src='/img/results.png')
      span RESULTS
