/* GENERIC */
body {
  font-size: 14px;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

div {
    position: relative;
}

a {
  color: #00B7FF;
  text-decoration: none;
  font-weight: bold;
}

a:focus,
a:hover,
a:active {
  text-decoration: underline;
}

ul, ol {
    list-style:none;
}

form div{
    padding: 10px;
}

form div label{
    padding-right: 10px;
}

form div input{
    height: 20px;
    border-radius: 5px;
    padding: 5px;
}

input.checkbox {
  height: 20px;
  width: 20px;
}

label.checkbox {
  vertical-align: super;
}

input.checkbox, label.checkbox:hover{
  cursor: pointer;
}

.page {
    padding: 0;
    height: 100%;
}

.content {
    padding: 20px;
    height: 100%;
    display: block;
    margin-left: 200px;
}

.stratio-color {
    background-color:#47BAE6;
}

.error {
    color: #F00;
    margin: 0;
}

td p.error {
    width: 150px;
}

.success {
    color: #0F0;
    margin: 0;
}

/* LOGIN */
.login {
    width:auto;
    margin:20px auto; /*Centramos automaticamente*/
    display:table;
    text-align: center;
    border-style: groove;
    padding: 50px;
}

.button {
    background-color: #47bae6;
    color: #ffffff;
    display: inline-block;
    font-size: 14px;
    padding: 5px 20px;
    text-decoration: none;
    height: auto;
}

.button:hover {
    background-color:#434343;
    cursor: pointer;
}

/* NAVIGATION PANEL */

.logo {
    margin: 20px;
    position: relative;
    text-align: center;
}

#logout {
    width: 200px;
    padding: 20px 0;
    position: absolute;
    text-align: center;
    bottom : 0;
    left: 0;
}

.nav {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 200px;
    background-color:#000;
}

.logo p, .nav p {
    margin: 5px;
    color: #fff;
    font-style: italic;
}

.nav ul{
    width: 200px;
    padding: 0;
    margin: 0;
    position: relative;
    height: auto;
}

.nav > li {
    display: list-item;
    color:#fff;
    text-decoration:none;
    padding:10px 12px;
    display:block;
    border-top: 1px #434343 solid;
    font-size: 16px;
    line-height: 40px;
}

.nav li:hover, .nav li.selected, #logout:hover {
    background-color:#434343;
    cursor: pointer;
}

.nav li img, #logout img {
    width: 35px;
    vertical-align: sub;
    margin: 0px 4px;
}

.nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
    padding:0;
}

.nav li:hover > ul {
    display:block;
}

.nav li ul li {
    position:relative;
}

.nav li ul li ul {
    right:-140px;
    top:0px;
}

/* HOME VIEW */

#apply {
    background-color: #000;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    padding: 5px 20px;
    margin: 20px;
    text-decoration: none;
    height: auto;
}

#apply:hover {
    background-color:#434343;
    cursor: pointer;
}

#home-form table {
    width: 500px;
}

#home-form table input {
    float: right;
}

/* RESULTS VIEW */

#results {
    width:auto;
}

.aggs {
    display:inline-table;
    margin-top: 40px;
}

.agg {
    padding: 20px;
    width: inherit;
}

.agg p{
    margin-bottom: 5px;
    border-bottom: 1px #434343 solid;
    font-style: italic;
}

.agg div{
    padding-top: 5px;
}

#total {
  text-align: right;
  font-size: 16px;
  font-weight: bold;
}

.results {
    display:inline-table;
    vertical-align: top;
    min-width: 60%;
    margin-left: 40px;
}

#resultstable {
  border-spacing: 0px;
  width: 100%;
}

.results tr th {
    background-color:#000;
    color:#fff;
    padding: 5px;
    border-right: 1px solid #666;
    font-size: 12px;
}

.results tr td {
    padding: 10px;
    text-align: center;
    border-top: 1px solid #fff ;
}

.pagination {
    width:auto;
    margin:0 auto; /*Centramos automaticamente*/
    display:table;
}

.pagination > li {
    float:left;
}

.pagination li a, .pagination li span{
    background-color:#000;
    color:#fff;
    text-decoration:none;
    padding:2px 5px;
    display:block;
    border-style: groove;
}

.pagination li a:hover {
    background-color:#434343;
}

.winner {
    font-weight:bold;
}

.victory {
    background-color:#CCFFCC;
}

.defeat {
    background-color:#FFCCCC;
}