extends layout

block js
  script(type="text/javascript", src='/js/login.js')

block body
  body(style='padding:50px')
    div.login
      div.logo
        img(src='/img/stratio_b.png')
        p(style='color:#000') PING PONG SERIES
      img(src='/img/stratio-ball.png')
      form#login-form.form-signin(action="#", method="post")
        div
          input(type="text", name="username", placeholder="Username")
        div
          input(type="password", name="password", placeholder="Password")
        div
          input#sign-in(type="button", value="Sign in")
      p#login-error.error