extends layout

block js
  script(type="text/javascript", src='/js/events.js')
  script(type="text/javascript", src='/js/results.js')
  script(type="text/javascript", src='/js/smartpaginator.js')
block css
  link(rel='stylesheet', href='/css/smartpaginator.css')


block body
  div.page
    div#nav.nav
      include navigation.jade
    div#main-content.content
      block content
        h1 HOME

        div#results(style="display:none")
          div#aggs.aggs
          div.results
            p#total
            input#totalresults(hidden)
            table#resultstable
            div#smart-paginator
        div#error.error
