extends layout

block js
  script(type="text/javascript", src='/js/navigation.js')
  script(type="text/javascript", src='/js/home.js')
  script(type="text/javascript", src='/js/results.js')
  script(type="text/javascript", src='/js/smartpaginator.js')
block css
  link(rel='stylesheet', href='/css/smartpaginator.css')


block body
  div.page
    div#nav.nav
      include navigation.jade
    div#main-content.content
      h1 HOME
      div#welcome.text Welcome #{user.fullname}.
