div.logo
  img(src='/img/stratio.png')
  p PING PONG SERIES
ul.nav
  li#nav-home.selected
    img(src='/img/home.png')
    span HOME
  li#nav-matches
    img(src='/img/matches.png')
    span MATCHES
  li#nav-results
    img(src='/img/results.png')
    span RESULTS
  //
    li#nav-stats
      img(src='/img/statistics1.png')
      span STATS
div#logout
  img(src='/img/logout.png')