div.logo
  img(src='/img/stratio.png')
  p PING PONG SERIES
ul.nav
  li#nav-home
    img(src='/img/home.png')
    span HOME
  li#nav-stats
    img(src='/img/statistics1.png')
    span STATS
  li#nav-results
    img(src='/img/results.png')
    span RESULTS
